html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


.simulacion {
    padding: 60px 45px;
}

.simulacion-inner {
    max-width: 600px;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(1,minmax(300px,1fr));
}

.progress {
    padding: 5px 5px;
}

.progress-bar {
    height: 20px;
}

.titulo-tarea {
    font-size: 1.18rem;
    line-height: 1.6;
    display: flex;
    justify-content: space-between;
}

.container-inner h1 {
    color: #283593;
    font-size: 1.5rem;
    font-weight: normal;
    margin: 0;
    padding-bottom: 20px;
}
