html {
    font-size: 10px;
    font-family: 'Dongle', sans-serif;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
#form-modal {
    max-width:1000px;
}
html {
    position: relative;
    min-height: 100%;
}

body {
  margin-bottom: 60px;
}


.simulacion {
    padding: 10px 30px;
}

.simulacion-inner {
    max-width: 600px;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(1,minmax(300px,1fr));
}

.progress {
    padding: 5px 5px;
}

.progress-bar {
    height: 20px;
}

.titulo-tarea {
    font-size: 1.18rem;
    line-height: 1.6;
    display: flex;
    justify-content: space-between;
}

.simulacion h1 {
  
    font-size: 1.3rem;
    font-weight: normal;
    margin: 0;
    padding-bottom: 20px;
}

.simulacion a {
    font-size: 0.8rem;
    font-weight: normal;
}